/* ==========================================================================
   Author: Peter Magenheimer
   ========================================================================== */

body {
  font-family: "chaparral-pro-n4", "chaparral-pro", "palatino", "georgia", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-n7", "proxima-nova", sans-serif;
  font-weight: 700;
}

hr {
  width: 60%;
  margin: 15px auto;
}

dt {
  font-family: "chaparral-pro-i4", "chaparral-pro", "palatino", "georgia", serif;
  font-weight: normal;
  font-style: italic;
}

dd {
  margin: 0 0 1em 0;
}

li {
  line-height: 24px;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner {
  padding: 0 5px;
}

.navbar a {
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.navbar .nav {
  display: none;
}

.navbar select {
  float: right;
  width: 220px;
  font-size: 16px;
  margin: 7px 6px 0 0;
}

header {
  position: relative;
}

.masthead {
  color: #FFF;
  text-shadow: 1px 2px 0px #222;
  background: no-repeat center center;
  margin: 0 -20px 15px;
  padding: 20px 0;
  -webkit-box-shadow: inset 0 -25px 20px -25px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: inset 0 -25px 20px -25px rgba(0, 0, 0, 0.6);
       -o-box-shadow: inset 0 -25px 20px -25px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 -25px 20px -25px rgba(0, 0, 0, 0.6);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

.masthead h1,
.masthead h2 {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 20px;
}

html.no-rgba .masthead h1,
html.no-rgba .masthead h2 {
  background: url("img/black-50.png");
}

.masthead h2 {
  font-family: "proxima-nova-n4", "proxima-nova", sans-serif;
  font-weight: 400;
}

html.home .masthead {
  background-image: url("img/barcelona-sunset-770.jpg");
}

html.web-work .masthead {
  background-image: url("img/rome-wing-770.jpg");
}

html.print-work .masthead {
  background-image: url("img/rome-cogs-770.jpg");
}

html.about .masthead {
  background-image: url("img/berlin-dome-770.jpg");
}

html.contact .masthead {
  background-image: url("img/florence-sign-770.jpg");
}

.masthead .photo-info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 26px;
  height: 26px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  line-height: 27px;
  font-family: "chaparral-pro-i4", "chaparral-pro", "palatino", "georgia", serif;
  font-weight: 700;
  font-style: italic;
  background: rgba(70, 70, 70, 0.3);
  border-radius: 2em;
  text-shadow: 0 -1px 0 #333;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.masthead .photo-info:hover {
  background: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.tooltip {
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.features {
  text-align: center;
}

.features .feature-link,
.features img {
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.feature:hover .feature-link {
  text-decoration: none;
}

.features img {
  position: relative;
  top: 0;
  opacity: 1;
  -webkit-box-shadow: 0 10px 15px -5px #444;
     -moz-box-shadow: 0 10px 15px -5px #444;
       -o-box-shadow: 0 10px 15px -5px #444;
          box-shadow: 0 10px 15px -5px #444;
  margin-bottom: 1.5em;
}

.feature:hover img {
  opacity: 0.8;
  top: -5px;
}

.project {
  margin-bottom: 10px;
}

.project h3 {
  line-height: 30px;
  background: #E5E5E5;
  padding: 5px 0 5px 1000px;
  margin-left: -1000px;
}

.project .gallery-inner {
  -webkit-box-shadow: 0 10px 25px -9px #222;
     -moz-box-shadow: 0 10px 25px -9px #222;
       -o-box-shadow: 0 10px 25px -9px #222;
          box-shadow: 0 10px 25px -9px #222;
  margin-bottom: 30px;
}

.alert-container {
  margin-bottom: 0;
  -webkit-transition: margin-bottom 0.05s linear;
     -moz-transition: margin-bottom 0.05s linear;
       -o-transition: margin-bottom 0.05s linear;
          transition: margin-bottom 0.05s linear;
}

.alert-container.empty {
  margin-bottom: -10px;
}

.browser-compatibility.fade {
  max-height: 0;
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}

.browser-compatibility.fade.in {
  max-height: 600px;
}

.browser-compatibility.alert-info {
  color: #222;
  margin-bottom: 0;
}

.browser-compatibility h4 {
  margin: 10px 0 6px;
}

.web-project .span4 {
  margin-bottom: 20px;
}

.gallery-inner li {
  list-style: none;
  display: none;
}

.gallery-inner img {
  width: 100%;
}

.gallery-inner .active {
  display: block;
}

.gallery-controls {
  position: relative;
  min-height: 40px;
  text-align: center;
}

html.touch .gallery-controls {
  min-height: 20px;
}

.gallery-controls span {
  visibility: hidden;
  color: #BBB;
  font-size: 30px;
  padding: 0 2px;
}

.gallery-controls .on {
  color: #333;
}

html.touch .gallery-controls span {
  visibility: visible;
}

.gallery-controls a {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-family: "proxima-nova", sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
       -o-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

html.touch .gallery-controls a {
  display: none;
}

.gallery-controls .prev {
  opacity: 0;
}

.gallery-controls .next {
  right: 15px;
  left: auto;
}

.gallery-controls a:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.print-project {
  text-align: center;
}

.print-project p {
  margin-top: 30px;
}

.print-project .details {
  text-align: left;
  margin-bottom: 30px;
}

.print-project .details p {
  margin-top: 10px;
}

.print-project .light-border {
  border: 2px solid #DDD;
}

.skip-to-bullets {
  display: block;
}

.about-portrait {
  width: 150px;
  float: right;
  border: 2px solid #CCC;
  margin: 0 0 10px 30px;
}

.email-link {
  font-size: 26px;
}

.social {
  display: block;
  line-height: 26px;
  margin-bottom: 4px;
}

.social span {
  float: left;
  width: 24px;
  height: 24px;
  background: url("img/social-icons-24.png") no-repeat;
  opacity: 0.8;
  margin-right: 6px;
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.social:hover span {
  opacity: 1;
}

.twitter span {
  background-position: -24px 0;
}

.facebook span {
  background-position: -48px 0;
}

.google-plus span {
  background-position: right 0;
}

.stackoverflow span {
  background-position: 0 -24px;
}

.github span {
  background-position: -24px -24px;
}

.hackernews span {
  background-position: -48px -24px;
}

.last-fm span {
  background-position: right -24px;
}

footer {
  background: #EEE;
  padding: 20px;
  border-top: 1px solid #DDD;
  margin: 30px -20px 0;
}

.no-wrap {
  white-space: nowrap;
}

@media (max-width: 399px) {
  .navbar {
    text-align: center;
  }

  .navbar .brand {
    float: none;
  }

  .navbar select {
    float: none;
    margin: 0 0 12px;
  }

  .masthead .photo-info {
    display: none;
  }

  .about-portrait {
    float: none;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .project .gallery-inner {
    margin: 0 -20px 15px;
  }
}

@media (max-width: 568px) {
  .project .gallery-inner {
    -webkit-box-shadow: 0 10px 15px -9px #444;
       -moz-box-shadow: 0 10px 15px -9px #444;
         -o-box-shadow: 0 10px 15px -9px #444;
            box-shadow: 0 10px 15px -9px #444;
  }
}

@media (max-width: 767px) {
  .alert-container .browser-compatibility:first-child {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  hr {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  ul, ol {
    margin-left: 0;
  }

  .navbar {
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
         -o-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  }

  .navbar .nav {
    display: block;
    float: right;
  }

  .navbar .nav li {
    font-family: "proxima-nova", sans-serif;
    font-size: 17px;
    line-height: 26px;
  }

  .navbar .nav li a {
    padding: 10px 18px;
  }

  .navbar select {
    display: none;
  }

  .masthead {
    text-shadow: 2px 3px 1px #222;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    -webkit-box-shadow: inset 0 -25px 40px -20px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: inset 0 -25px 40px -20px rgba(0, 0, 0, 0.6);
         -o-box-shadow: inset 0 -25px 40px -20px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 -25px 40px -20px rgba(0, 0, 0, 0.6);
  }

  .masthead h1,
  .masthead h2 {
    background: none;
    padding: 5px 25px;
  }

  html.no-rgba .masthead h1,
  html.no-rgba .masthead h2 {
    background: none;
  }

  html.home .masthead {
    background-image: url("img/barcelona-sunset.jpg");
  }

  html.portfolio .masthead {
    margin-bottom: 50px;
  }

  html.web-work .masthead {
    background-image: url("img/rome-wing.jpg");
  }

  html.print-work .masthead {
    background-image: url("img/rome-cogs.jpg");
  }

  html.about .masthead {
    background-image: url("img/berlin-dome.jpg");
  }

  html.contact .masthead {
    background-image: url("img/florence-sign.jpg");
  }

  .masthead h1 {
    font-size: 60px;
    line-height: 75px;
  }

  .masthead h2 {
    font-size: 35px;
    line-height: 52px;
  }

  .masthead span {
    background: rgba(0, 0, 0, 0.6);
    padding: 1px 25px;
  }

  html.no-rgba .masthead span {
    background: url("img/black-50.png");
  }

  .masthead h1 span {
    margin-left: -9000px;
    padding-left: 9025px;
  }

  .project {
    margin-bottom: 30px;
  }

  .gallery-controls {
    min-height: 20px;
  }

  .alert-container.empty {
    margin-bottom: -30px;
  }

  .project.column2 h3 {
    padding-left: 20px;
    margin-left: -20px;
  }

  .web-project .span4 {
    padding-right: 2.9914529914529915%;
    margin-bottom: 0;
  }

  .skip-to-bullets {
    display: none;
  }

  html.contact .main-column {
    padding-right: 2.9914529914529915%;
  }

  footer {
    margin: 50px 0 0;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }

  .web-project [class*="span"],
  .web-project .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 47px;
  }

  .navbar-fixed-top .navbar-inner {
    padding: 0;
  }

  .masthead h1 {
    font-size: 75px;
    line-height: 95px;
  }

  .masthead h2 {
    font-size: 45px;
    line-height: 65px;
  }

  .project .span8 .details {
    padding-right: 14.52991452991453%
  }
}

@media (min-height: 750px) and (min-width: 768px) {
  .masthead {
    min-height: 500px;
  }
  
  .masthead .container {
    padding-top: 120px;
  }
}

@media (max-height: 749px) and (min-width: 768px) {
  .masthead {
    min-height: 340px;
  }

  .masthead .container {
    padding-top: 60px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .masthead {
    min-height: 340px;
  }

  .masthead .container {
    padding-top: 60px;
  }

  .feature {
    margin-top: 8px;
  }

  .feature.print {
    margin-top: -18px;
  }

  .features h3 {
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .features h3 {
    font-size: 30px;
    line-height: 36px;
  }
}
