{% extends "_base.html" %}
{% set page_title = "Contact Me" %}
{% set root_classes = "contact" %}
{% set active_page = "contact" %}
{% set page_h1 = "<span>Contact me</span>" %}
{% set page_h2 = "<span>I'm always traipsing around the web. </span><br><span>Track me down.</span>" %}
{% block body %}

    <div class="container">
      <div class="row-fluid">
        <div class="span7">

        </div>
        <div class="span4 offset1 sidebar">
          <h3>Résumé</h3>
          <p><a href="#">Download a PDF of my resume</a></p>
          <h3>Testimonials</h3>
          <p><a href="#">Download a PDF of some kind words from clients and coworkers. I love these [guys].</a></p>
        </div>
      </div>
    </div>
{% endblock %}
