{% extends "_base.html" %}
{% set page_title = "Contact Me" %}
{% set root_classes = "contact" %}
{% set active_page = "contact" %}
{% set page_h1 = "Contact me" %}
{% set page_h2 = "I'm always traipsing around the web.", "Track me down." %}
{% set photo_info = "An exit sign in the Museo dell'Opera del Duomo, Florence, Italy" %}
{% block body %}

    <div class="container">
      <div class="row-fluid">
        <div class="main-column span6">
          <h3>Email me</h3>
          <p>Drop me a line at <br><a class="email-link" href="mailto:hi@peterjmags.com">hi@peterjmags.com</a></p>
          <h3>Availability</h3>
          <p>I am currently accepting new freelance projects on a limited basis. Feel free to get in touch if you'd like to discuss your project, and I'll update you on my availability.</p>
        </div>
        <div class="span5">
          <h3>Find me on...</h3>
          <div class="row-fluid">
            <div class="span6">
              <p><a class="social linkedin" href="http://www.linkedin.com/in/peterjmag"><span></span>LinkedIn</a>
              <a class="social twitter" href="http://twitter.com/peterjmag"><span></span>Twitter</a>
              <a class="social facebook" href="http://www.facebook.com/peterjmag"><span></span>Facebook</a>
              <a class="social google-plus" href="https://plus.google.com/109188122759072236428/"><span></span>Google+</a></p>
            </div>
            <div class="span6">
              <p><a class="social stackoverflow" href="http://stackoverflow.com/users/349353/peterjmag"><span></span>StackOverflow</a>
              <a class="social github" href="https://github.com/peterjmag"><span></span>GitHub</a>
              <a class="social hackernews" href="http://news.ycombinator.com/user?id=peterjmag"><span></span>HackerNews</a>
              <a class="social last-fm" href="http://www.last.fm/user/peterjmag"><span></span>last.fm</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
