{% extends "_base.html" %}
{% set root_classes = "home" %}
{% set active_page = "home" %}
{% set page_h1 = "<span>Hi there!</span>" %}
{% set page_h2 = "<span>I'm Peter Magenheimer. </span><br><span>I design and build things on the web.</span>" %}
{% block body %}

    <div class="container">
      <div class="features row-fluid">
        <section class="web feature span4">
          <img src="css/img/web-work-header-770.jpg" alt="">
          <h3><a href="web-work.html">Web work</a></h3>
          <p>My first love. Check out <a href="web-work.html">my portfolio of web design and development work</a>.</p>
        </section>

        <section class="print feature span4">
          <img src="css/img/rome-cogs-770.jpg" alt="">
          <h3><a href="print-and-identity-work.html">Print and identity work</a></h3>
          <p>I also design things that aren't for the web. Visit <a href="print-and-identity-work.html">my print and identity design portfolio</a> if you need proof.</p>
        </section>

        <section class="about feature span4">
          <img src="img/berlin-dome-icon-bw.jpg" alt="">
          <h3><a href="about.html">About me</a></h3>
          <p>Who I am, where I'm from, and what I love to do. You can also download my résumé and find other goodies.</p>
        </section>
      </div>
    </div>
{% endblock %}
