{% extends "_base.html" %}
{% set root_classes = "home" %}
{% set active_page = "home" %}
{% set page_h1 = "Hi there!" %}
{% set page_h2 = "I'm Peter Magenheimer.", "I design and build things on the web." %}
{% set photo_info = "Sunset over Barcelona, Spain" %}
{% block body %}

    <div class="container">
      <div class="features row-fluid">
        <section class="web feature span4">
          <a class="feature-link" href="/web-work">
            <h3>Web work</h3>
            <img src="img/rome-wing-370.jpg" alt="Web work">
          </a>
          <p>My first love. Check out <a href="/web-work">my portfolio of web design and development work</a>.</p>
        </section>

        <section class="print feature span4">
          <a class="feature-link" href="/print-and-identity-work">
            <h3>Print and identity work</h3>
            <img src="img/rome-cogs-370.jpg" alt="Print and identity work">
          </a>
          <p>I also design things that aren't for the web. Visit <a href="/print-and-identity-work">my print and identity design portfolio</a> for proof.</p>
        </section>

        <section class="about feature span4">
          <a class="feature-link" href="/about">
            <h3>About me</h3>
            <img src="img/self-portrait-370.jpg" alt="About me">
          </a>
          <p>Who I am, where I'm from, and what I love to do. Also, download my résumé and find other goodies.</p>
        </section>
      </div>
    </div>
{% endblock %}
